@font-face {
  src: url("../font/BMJUA_ttf.ttf");
  font-family: Jua;
}

body {
  background-color: #60a3bc;
}

.clicked {
  color: #b53471;
}

.btn {
  cursor: pointer;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.form,
.gretting {
  display: none;
}

.showing {
  display: block;
}

span {
  margin: 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.sorting {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  margin-left: -195px;
  margin-top: -280px;
}
h1 {
  text-align: center;
  font-size: 100px;
  font-family: Jua;
  color: #ffffff;
}
input {
  margin-left: 65px;
  border: none;
  border-bottom: 5px solid #e84393;
  outline: 0;
  animation: show 0.7s ease forwards;
  font-family: Jua;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  background: transparent;
  color: #e84393;
}

h4 {
  text-align: center;
  font-family: Jua;
  font-size: 30px;
  color: #e84393;
}

ul {
  list-style: none;
  text-align: center;
  font-family: Jua;
  font-size: 40px;
}

span {
  font: inherit;
  font-size: 30px;
  font-weight: bold;
}
